* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: rgba(16, 54, 125, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  color: white;
  position: relative;
  margin-top : 60px;

}

.menu {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.materia {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.logo-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-img {
  height: 45px;
  max-width: 100%;
}




/*carrosel*/

.container{
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  overflow: hidden;

  align-items: center;

  justify-content: center;
  padding: 40px 20px;

  display: flex;
  width: 100%;
  padding: 20px;


  box-sizing: border-box;



}


.carrosel{
  display: flex;
  grid-auto-flow: column;
  gap:1.2rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;


}


.card{
  background: linear-gradient(-450deg, #1e3c72, #2a5298);
  max-width: 2000px;
  min-width: 1200px;
  height: 600px;
  width: 1200px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow: hidden; 
}

.card img {
  width: 100%;         
  height: 100%;
  object-fit: cover;   /* corta a imagem mantendo a proporção muhehehe!*/

}



/* 🔽 Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
  }

  .materia {
    font-size: 16px;
  }

  .logo-img {
    height: 16px;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-wrap: wrap;
    text-align: center;
  }

  .menu {
    order: 1;
    flex: 1 1 100%;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 8px;
  }

  .materia {
    order: 2;
    flex: 1 1 100%;
    font-size: 16px;
  }

  .logo-right {
    order: 3;
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 5px;
  }

  .logo-img {
    height: 24px;
  }
  .icon {
  color: transparent;

  }
}
